.scrollComponent{
    display: flex;
    justify-content: center;

    
}
.createPostContainer{
    display: flex;
    height: 12svh;
    width: 100%;
    padding-inline:0.8rem ;
    gap: 1.2rem;
    align-items: center;
    background-color: rgb(249, 243, 243);
    border-radius: 20px;
   

}
.userProfile{
    border-radius: 100%;
    height: 90%;
    width: 90px;
    margin-top: -2px !important;
   

}
.createPostContainer > textarea{
    width: 100%;
}
.uploadButton{
    background-color:rgb(2,93,158) ;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    width: fit-content;
}
.Fab{
    background-color: #1DA1F2;
    border-radius: 100%;
   width: 30px;
   justify-content: center;
   display: flex;
   height: 30px;
  

}
.Fab > svg{
    width: fit-content;
  
   height: fit-content;
   color: white;
   
}
.textAreaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;




}
.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
    border-bottom:1px solid rgb(179, 179, 179)  ;

}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
}
.singleCard__profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.2rem;
}
.singleCard__profileContainer > img{
  width: 10%;
  border-radius: 50%;
}
.singleCard_image{
    width: 100%;
    height: fit-content;
    overflow: hidden;

    
}
.singleCard_image > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.optionsContainer{
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}
.singleContainer__optionsContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}
.singleContainer__optionsContainer > svg{
    height: 100%;
    width: 10%;
    min-width: 1rem;
  
}
.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    
    

}
.allCommentsContainer{
    max-width: 1120px;
    min-width: 40svw;
    max-height: 80vh;
    min-height: 40vh;             
    background: white;
    border-radius: 10px;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.commentsList {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5rem;
}
.postCommentContainer{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background-color: white;
    


}
.postCommentContainer > input{
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(228, 226, 226);
    border-radius: 10px;
}
.postCommentContainer > input:focus{
    border: 1px solid silver;
}
.postCommentContainer_commentBtn{
    flex: 0.1;
   width: fit-content;
   padding: 1.2rem;
   background: orange;
   border-radius: 10px;
   align-items: center;
   color: white;
    cursor: pointer;

}
.singleComment{
 padding: 1rem;
  border-bottom: 1px solid rgb(222, 222, 222);
  gap: 1rem;
 
}
@media only screen and (max-width: 600px){
    .allCommentsContainer{
       width: 90%;
    }
}