.container{
    padding: 1.3rem;
    background: rgb(255, 253, 253);
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.backDropContainer{
    width: 100%;
    height: 30vh;
    background: url('https://images.pexels.com/photos/32357295/pexels-photo-32357295.jpeg?_gl=1*1jqzagz*_ga*MjAzNTQzODc3MC4xNzYyMTExMzMy*_ga_8JE65Q40S6*czE3NjIxMTEzMzIkbzEkZzEkdDE3NjIxMTEzNTEkajQxJGwwJGgw');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius:20px ;

}  
.backDropContainer > img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
}
.profileContainer_details{
    padding-top: 4.6rem;
}
.car{
display: flex;
align-items: center;
gap: 1.4rem;
}
.card_profileContainer{
    display: flex;
}
.card_profileContainer > img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}
.connectBtn{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    background-color: #007bff;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
   
}
  
.connectedButton{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    background-color: white;
    color: #007bff;
    outline: #007bff;
    border: 1px solid #007bff;
    border-radius: 10px;
    cursor: pointer;
   
}
.workHistoryConatiner{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    padding-top: 1.5rem;
    flex-wrap: wrap;
    flex-direction: column;

  

}

.workHistoryCard{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
    width: fit-content;

}
.backDrop_overlay{
   
    
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
    z-index: 4;
    transition: all 0.4s;
    cursor: pointer;
    color: white;
    opacity: 0.0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
    

}
.backDrop_overlay:hover{
    background: rgba(0, 0, 0);
    opacity: 0.4;
}
.profileContainer_details input{
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    width:fit-content; ;


    
}
.nameEdit{
    font-size: 1.5rem;
    font-weight: bold;

}
.connectionButton{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    background-color: #007bff;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    width: fit-content;

}
.profileContainer_details textarea{
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    font-family: "Poppins" !important;
    font-size: 1.1rem;

    
}
.addWorkBtn{
    width: fit-content;
    padding-inline: 1.3rem;
    background: white;
    border: 1px dotted silver;
    border-radius: 10px;
    padding-block: 1.2rem;
    cursor: pointer;
    
   


}
.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0,0,0,0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;

}
.allCommentsContainer{
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    



}
.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.6rem;
    outline: none;
    border-radius: 10px;
    border:1px solid silver;
    width: 100%;
    display: flex;
    gap: 1.2rem;
     

 }
 .addWorkButton{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    background-color: #007bff;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;

 }
 .card_profileContainer{
    display: flex;
}
.card_profileContainer > img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}