.userCard{
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
    cursor: pointer;
 height: fit-content;
}
.userCard p{
    color: rgb(104, 104, 104);
    opacity: 0.6;
}
.userCard:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2); }
.userCard__image{
    width: 10%;
    border-radius: 50%;
}
.allUserProfile{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 80%;

}