.userCard{
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.1);

}
.profilePicture > img{
    width: 4.5rem ;
    border-radius: 50%;

}
.myConnections{
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
    padding-bottom:1.5rem ;


}
.connectedButton{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    background-color: white;
    color: #007bff;
    outline: #007bff;
    border: 1px solid #007bff;
    border-radius: 10px;
    cursor: pointer;
   
}