.homeConatiner{
    display: flex;
    margin-top: 100px;
    height: 100svh;
    
}



.homeContainer__leftBar{
    display: flex;
    flex:0.2;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    border-right: 1px solid rgb(222, 222, 222);
    position: fixed;
    overflow: auto;
    left: 5px;
    background-color: white;
    height: 100svh;
    width: 250px;
   
   
    
    
}
.sideBarOption{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 1.3rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;;

}
.sideBarOption:hover{
    transform: scale(1.04);

}
.sideBarOption > svg{
    height: 1.4em;
    min-width: fit-content;

}
.homecontainer__extraConatiner{
    border-left: 1px solid rgb(222, 222, 222);
    padding-left: 1.2rem;
    flex: 0.2;
    position: fixed;
    right: 100px;
    height: 100svh;
    width: 250px;
}
.homeContainer__feedConatiner{
    padding-inline: 0.8rem;
    flex: 0.6;
    margin-left: 250px;
    height: 100svh;
}
.mobileNavBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    display: none ;
    justify-content: space-around;
    background: white;
    align-items: center;
  


}

.mobileNavBar svg{
    height: 2.2em;
    width: 2.2em;
    cursor: pointer;

}

@media only screen and (max-width: 600px){
    .homecontainer__extraConatiner{
        display: none;
    }
    .homeConatiner{
        display: block;
    }
    .homeContainer__leftBar{
        display: none;
    }
    .mobileNavBar{
        display: flex ;
    }
    .homeContainer__feedConatiner{
        margin-left: 0;
        flex: 1;
        margin-top: 120px;
        padding-bottom: 1560px;
       
        
      
    }

}
